{{!-- {{#each this}}
<div class="field">
    <span class="value" data-value="days">{{days}}</span>
    <span class="label">Days</span>
</div>

<div class="field">
    <span class="value" data-value="hours">{{hours}}</span>
    <span class="label">Hours</span>
</div>

<div class="field">
    <span class="value" data-value="mins">{{mins}}</span>
    <span class="label">Minutes</span>
</div>

<div class="field">
    <span class="value" data-value="secs">{{secs}}</span>
    <span class="label">Seconds</span>
</div>
{{/each}} --}}